@charset "UTF-8";

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url(font/inconsolata.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(font/open_sans.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(font/open_sans_semibold.woff) format("woff");
}

@font-face {
  font-family: "migu1m";
  src: url(font/migu-1m-regular.woff) format("woff");
}

#qiita {
  color: #4cb10d;
}

#python {
  color: #00bfff;
}

#javascript {
  color: #ffd700;
}

#java {
  color: #ff4500;
}

#ruby {
  color: #dc143c;
}

#perl {
  color: #4682b4;
}

#php {
  color: #b0c4de;
}

#html5 {
  color: #ff6347;
}

#css3 {
  color: #1e90ff;
}

#android {
  color: #32cd32;
}

#company {
  color: #ffd700;
}

#game {
  color: #00bfff;
}

#instagram {
  color: #ff4500;
}

#select_icon {
  font-size: 1.5em;
  color: #ffffff;
}

#icon {
  font-size: 1.5em;
  color: #ffffff66;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

h2 {
  text-align: center;
  color: #FFF;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: 10px;
}

p {
  margin-top: 0.1px;
  margin-bottom: 0.1px;
}

a {
  color: #999;
  text-decoration: none;
  transition: color 0.5s;
}

#debug:hover {
  color: #FFF;
}

a:hover {
  color: #fff8a9;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Inconsolata', 'migu1m', sans-serif;
}

#home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  position: fixed;
  padding: 0;
  height: 100%;
  zoom: 1;
  z-index: 20;
  background-color: #333333;
}

#home .activity_bar {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 55px;
  background-color: #333333;
  height: 77%;
  padding-top: 1px;
}

#home .setting {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 55px;
  height: 12%;
  padding-top: 1px;
}

#home .activity_bar dl dt {
  margin-bottom: 20px;
}

#home .setting dl dt {
  margin-bottom: 15px;
}

#home .side_bar {
  position: absolute;
  top: 0;
  left: 53px;
  font-family: 'Open Sans', sans-serif;
  background-color: #252526;
  width: 200px;
  margin: 0;
  height: 100%;
}

#home .side_bar dl {
  line-height: 2;
  cursor: default;
  margin-top: 0;
}

#home .side_bar dl dt {
  font-weight: bold;
  font-size: 12px;
  color: #cccccc;
  background-color: #424242;
  padding-left: 10px;
}

#home .side_bar dl dt #outline {
  position: absolute;
  bottom: 0;
}

#home .side_bar dl dd:hover {
  background-color: #3a3d41;
}

#home .side_bar dl dd {
  font-size: 11px;
  color: #DADADA;
  margin: 0px;
  padding-left: 25px;
}

#home .side_bar dl dd.file {
  padding-left: 43px;
}

#home .side_bar dl dd.current {
  background-color: #424242;
  color: #FFF;
}

#home .side_bar dl dd i {
  margin-right: 7px;
}

#home .side_bar dl dd i.fa-file {
  color: #313437;
}

#home .side_bar dl dd a:link,
#home .side_bar dl dd a:visited,
#home .side_bar dl dd a:hover,
#home .side_bar dl dd a:active {
  color: #DADADA;
  text-decoration: none;
}

#home .side_bar dl dd a:hover {
  color: #FFFFFF;
}

#home .main {
  position: absolute;
  top: 0;
  left: 0;
  left: 250px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#home .main .tabs {
  width: 100%;
  background: #252526;
}

#home .main .current_directory {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 15px;
  width: 100%;
  color: #858585;
  background: #1e1e1e;
}

#home .main .tabs .tab {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-align: center;
  color: #FFF;
  height: 20px;
  width: 100px;
  padding: 7px 9px;
  background-color: #1e1e1e;
  position: relative;
}

#home .main .body {
  height: 100%;
  font-size: 13px !important;
  line-height: 1.2 !important;
  background-color: #1e1e1e;
  padding-left: 60px;
  padding-top: 4px;
}

#home .main .body .lines {
  position: absolute;
  left: 0;
  width: 45px;
  color: #858585;
  text-align: right;
  height: 100%;
  overflow: hidden;
}

#home .main .body pre {
  margin: 0;
  padding: 0;
}

#home .main .body pre code {
  margin: 0;
  padding: 0;
  color: #EEE;
  font-family: 'Inconsolata', sans-serif;
  font-size: 13px;
  line-height: 1.2;
  background: transparent;
}

#home .main .body pre code #cursor {
  margin: 0 10px 0 0;
  border-right: 2px white solid;
}

@-webkit-keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#cursor {
  -webkit-animation-name: blink;
  -webkit-animation-duration: 1.0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0s;
}

#status_bar {
  height: 76px;
  position: absolute;
  bottom: -53px;
  left: 0;
  width: 100%;
  background-color: #007acc;
  overflow: hidden;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.15);
}

#status_bar .editor_foot {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: 11px;
  margin: 3px 15px;
  zoom: 1;
}

#status_bar .editor_foot:before,
#status_bar .editor_foot:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}

#status_bar .editor_foot:after {
  clear: both;
}

#status_bar .editor_foot .charset {
  margin-right: 12px;
}